<ion-view title="Alarmer">
    <ion-content padding="false">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
        </ion-refresher>
        {{getCount().count}}
        <ion-list ng-repeat="alarm in alarms">
            <!--- Alarm -->
            <ion-item class="item-avatar-left" ng-click="go('/tab/alarm/{{alarm.id}}')">
                <p>{{alarm.message}}</p><p class="date">{{alarm.date}}</p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                ng-if="!noMoreAlarms"
                on-infinite="loadMore()">
        </ion-infinite-scroll>
    </ion-content>
    <form novalidate="novalidate" name="alarmForm">
        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Type your message" ng-model="newAlarm.message" required/>
                <input type="text" placeholder="timeout" ng-model="newAlarm.timeout" required/>
            </label>
            <button ng-disabled="!alarmForm.$valid" class="button button-clear " ng-click="saveAlarm()">
                Add Alarm
            </button>
        </ion-footer-bar>
    </form>

</ion-view>
